#root, .main-container {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;  
  flex-direction: column;
}
#root {
  flex-direction: column-reverse;
}

@media (min-width: 1250px) {
  #root {
    flex-direction: row;    
  }
}

